{
  "env": {
    "browser": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": "last 2 versions"
            }
          }
        ]
      ]
    },
    "cjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            },
            "modules": "commonjs"
          }
        ]
      ]
    },
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            },
            "modules": false
          }
        ]
      ]
    }
  }
}
